@model UserVM
@{
    ViewData["Title"] = "User - Homepage";
}

<div class="container m-auto lg:my-20 p-5">
    <h1 class="text-4xl font-black mb-10">@ViewBag.Title</h1>
    <h3 class="text-2xl font-black">Manage users</h3>
    <partial name="~/views/shared/htmllink.cshtml"
        model='new HtmlLinkVM { Type="user", URL="/user/add", Body="Add User" }' />
    <div class="flex flex-col text-red-500 mt-3">
        @Html.ValidationSummary(true)
    </div>
    <div class="relative overflow-x-auto">
        <table class="text-center border-collapse border-[1px] border-[rgb(25%,25%,25%)] shadow-2xl my-5">
            <thead class="bg-[rgb(10%,10%,10%)]">
                <tr>
                    <th class="border-[1px] border-[rgb(25%,25%,25%)] p-3">Username</th>
                    <th class="border-[1px] border-[rgb(25%,25%,25%)] p-3">Roles</th>
                    <th class="border-[1px] border-[rgb(25%,25%,25%)] p-3"></th>
                    <th class="border-[1px] border-[rgb(25%,25%,25%)] p-3"></th>
                    <th class="border-[1px] border-[rgb(25%,25%,25%)] p-3"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Users.Count() == 0)
                {
                    <tr>
                        <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">There are no user accounts.</td>
                    </tr>
                }
                else
                {
                    foreach (AppUser user in Model.Users)
                    {
                        <tr>
                            <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">@user.UserName</td>
                            <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">
                                @if (user.RoleNames != null && user.RoleNames.Count() != 0)
                                {
                                    foreach (string roleName in user.RoleNames)
                                    {
                                        <div>@roleName</div>
                                    }
                                }
                                else
                                {
                                    <div>❌</div>
                                }
                            </td>
                            <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">
                                <form method="post" action="/user/delete/@user.Id">
                                    <button type="submit" class="bg-yellow-400 hover:bg-yellow-300 text-black p-3">
                                        Delete User
                                    </button>
                                </form>
                            </td>
                            <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">
                                <form method="post" action="/user/addtoadmin/@user.Id">
                                    <button type="submit" class="bg-yellow-400 hover:bg-yellow-300 text-black p-3">
                                        Add User To Admin
                                    </button>
                                </form>
                            </td>
                            <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">
                                <form method="post" action="/user/removefromadmin/@user.Id">
                                    <button type="submit" class="bg-yellow-400 hover:bg-yellow-300 text-black p-3">
                                        Remove User From Admin
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <h3 class="text-2xl font-black mt-5 mb-3">Manage roles</h3>
    @if (Model.Roles.Count() == 0)
    {
        <form method="post" action="/user/createadminrole">
            <button class="bg-yellow-400 hover:bg-yellow-300 text-black p-3" type="submit">
                Create Admin Role
            </button>
        </form>
    }
    else
    {
        <div class="relative overflow-x-auto">
            <table class="shadow-2xl">
                <thead class="bg-[rgb(10%,10%,10%)]">
                    <tr>
                        <th class="border-[1px] border-[rgb(25%,25%,25%)] p-3">Role</th>
                        <th class="border-[1px] border-[rgb(25%,25%,25%)] p-3"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        <tr>
                            <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">@role.Name</td>
                            <td class="border-[1px] border-[rgb(25%,25%,25%)] p-3">
                                <form method="post" action="/user/deleterole/@role.Id">
                                    <button type="submit" class="bg-yellow-400 hover:bg-yellow-300 text-black p-3">
                                        Delete Role
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
