@model RegisterVM
@{
    ViewBag.Title = "Account - Register";
}

<div class="container m-auto lg:my-20 p-5">
    <h1 class="text-4xl font-black mb-10">@ViewBag.Title</h1>
    <h3 class="text-2xl font-black">Use existing account</h3>
    <partial name="~/views/shared/htmllink.cshtml"
        model='new HtmlLinkVM { Type="account-1", URL="/account/login", Body="Login" }' />
    <h3 class="text-2xl font-black mt-5 mb-3">Create new account</h3>
    <div class="flex flex-col text-red-500 mb-3">
        @Html.ValidationSummary(true)
    </div>
    <form method="post">
        @* Name *@
        <div class="shadow-2xl mb-3">
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Name</span>
                <input id="eRegisterName" for="name"
                    class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" name="name"
                    placeholder="Enter a name" />
            </div>
            <small class="text-red-500" for="name">
                @Html.ValidationMessage("name")
            </small>
        </div>
        @* Username *@
        <div class="shadow-2xl mb-3">
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Username</span>
                <input id="eRegisterUsername" for="username"
                    class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" name="username"
                    placeholder="Enter a username" />
            </div>
            <small class="text-red-500" for="username">
                @Html.ValidationMessage("username")
            </small>
        </div>
        @* Password *@
        <div class="shadow-2xl mb-3">
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Password</span>
                <input for="password" class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3"
                    name="password" type="password" placeholder="Enter a password" />
            </div>
            <small class="text-red-500" for="password">
                @Html.ValidationMessage("password")
            </small>
        </div>
        @* Confirm Password *@
        <div class="shadow-2xl mb-5">
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Confirm<br />Password</span>
                <input for="confirmpassword" class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3"
                    name="confirmpassword" type="password" placeholder="Re-enter the password" />
            </div>
            <small class="text-red-500" for="confirmpassword">
                @Html.ValidationMessage("confirmpassword")
            </small>
        </div>
        <div class="flex flex-col items-center gap-3">
            <div class="w-full flex flex-col lg:flex-row text-center lg:text-start gap-3">
                <button class="bg-yellow-400 hover:bg-yellow-300 text-black p-3" type="submit"
                    onclick="storeFormValues();">Submit</button>
                <partial name="~/views/shared/htmllink.cshtml"
                    model='new HtmlLinkVM { Type="account-2", URL="/", Body="Cancel" }' />
            </div>
        </div>
    </form>
</div>
