<li>
    <div class="h-full flex flex-col rounded-[1rem] bg-black border-[1px] border-[rgb(20%,20%,20%)] shadow-2xl">
        <div class="flex flex-col rounded-t-[1rem] border-b-[1px] border-[rgb(20%,20%,20%)]">
            <partial name="~/views/shared/htmllink.cshtml"
                model='new HtmlLinkVM { Type="product-1", URL=$"/assets/{Model.ImageId}.png", Body="ABC" }' />
            <div class="bg-[#353a40] text-center p-3">
                @Model.Title
            </div>
            <div class="flex flex-col text-[rgb(75%,75%,75%)] p-5">
                <small>
                    <div class="flex">
                        <div class="mt-auto">
                            <span class="font-black text-white">ID:</span> @Model.ItemId
                        </div>
                        <partial name="~/views/shared/htmllink.cshtml"
                            model='new HtmlLinkVM { Type="product-2", URL=$"/shopadmin/edit/{@Model.ItemId}" }' />
                    </div>
                </small>
                <small>
                    <span class='font-black text-white'>
                        InCart: @(Model.InCart ? "✅" : "❌")
                    </span>
                </small>
                <small>
                    <span class="font-black text-white">GENRE:</span> @Model.Genre
                </small>
                <small>
                    <span class="font-black text-white">RELEASE YEAR:</span> @Model.ReleaseYear
                </small>
                <small>
                    <span class="font-black text-white">PRICE:</span> $@Model.Price
                </small>
                <small>
                    <span class="font-black text-white">AGE RATING:</span> @Model.AgeRange
                </small>
                <small>
                    <span class="font-black text-white">CONDITION:</span> @Model.Condition
                </small>
                <small>
                    <span class="font-black text-white">OWNER:</span> @Model.From.Name
                </small>
                <div class="flex mt-5">
                    <partial name="~/views/shared/htmllink.cshtml"
                        model='new HtmlLinkVM { Type="produc-2", URL=$"/shopadmin/details/{@Model.ItemId}", Body="View Details" }' />
                    <partial name="~/views/shared/htmllink.cshtml"
                        model='new HtmlLinkVM { Type="product-3", URL=$"/shop/deleteproduct?itemId={@Model.ItemId}" }' />
                </div>
            </div>
        </div>
    </div>
</li>
