@model Item

@{
    ViewData["Title"] = "ShopAdmin - Delete";
}

<div class="container m-auto lg:my-20 p-5">
    <h1 class="text-4xl font-black mb-10">@ViewBag.Title</h1>
    <h3 class="inline-block bg-red-600 text-2xl font-black mb-5 p-3">Are you sure you want to delete?</h3>
    <div class="relative overflow-x-auto">
        <table class="text-center border-collapse border-[1px] border-[rgb(20%,20%,20%)] shadow-2xl mb-10">
            <thead class="bg-[rgb(5%,5%,5%)]">
                <tr>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.ImageId)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.ItemId)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.InCart)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.InCart)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.ReleaseYear)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.AgeRange)
                    </th>
                    <th class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayNameFor(model => model.Condition)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.ImageId)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.ItemId)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.InCart)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.Title)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.Genre)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.ReleaseYear)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.Price)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.AgeRange)
                    </td>
                    <td class="border-[1px] border-[rgb(20%,20%,20%)] p-3">
                        @Html.DisplayFor(model => model.Condition)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <form asp-action="delete">
        <input type="hidden" asp-for="ItemId" />
        <div class="w-full flex flex-col lg:flex-row text-center lg:text-start gap-3">
            <button
                class="w-full lg:w-max bg-white hover:bg-[rgb(230,230,230)] text-center lg:text-start text-black p-3"
                type="submit">Submit</button>
            <partial name="~/views/shared/htmllink.cshtml"
                model='new HtmlLinkVM { Type="account-2", URL="/shopadmin", Body="Back to List" }' />
        </div>
    </form>
</div>
