@model Item

@{
    ViewData["Title"] = "ShopAdmin - Details";
}

<div class="container m-auto lg:my-20 p-5">
    <h1 class="text-4xl font-black mb-10">@ViewBag.Title</h1>
    <div class="relative overflow-x-auto mb-5">
        <table class="text-center border-collapse border-[1px] border-[rgb(22.5%,22.5%,22.5%)] shadow-2xl mb-5">
            <thead class="bg-[rgb(10%,10%,10%)]">
                <tr>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.ImageId)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.ItemId)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.InCart)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.ReleaseYear)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.AgeRange)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayNameFor(model => model.Condition)
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        🛠️
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        🛠️
                    </th>
                    <th class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        ❌
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.ImageId)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.ItemId)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.InCart)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.Title)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.Genre)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.ReleaseYear)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.Price)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.AgeRange)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        @Html.DisplayFor(model => model.Condition)
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        <partial name="~/views/shared/htmllink.cshtml"
                            model='new HtmlLinkVM { Type="shop-1", URL=$"/shopadmin/details/{@Model.ItemId}", Body="Details" }' />
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        <partial name="~/views/shared/htmllink.cshtml"
                            model='new HtmlLinkVM { Type="shop-1", URL=$"/shopadmin/edit/{@Model.ItemId}", Body="Edit" }' />
                    </td>
                    <td class="border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3">
                        <partial name="~/views/shared/htmllink.cshtml"
                            model='new HtmlLinkVM { Type="shop-1", URL=$"/shopadmin/delete/{@Model.ItemId}", Body="Delete" }' />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <partial name="~/views/shared/htmllink.cshtml"
        model='new HtmlLinkVM { Type="shop-2", URL=$"/shopadmin", Body="Back to List" }' />
</div>
